@font-face {
  font-family: 'Varta';
  src: url('../fonts/Varta/Varta.eot');
  src: url('../fonts/Varta/Varta.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Varta/Varta.woff') format('woff'),
  url('../fonts/Varta/Varta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }


@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather/Merriweather.eot');
  src: url('../fonts/Merriweather/Merriweather.eot') format('embedded-opentype'),
  url('../fonts/Merriweather/Merriweather.woff') format('woff'),
  url('../fonts/Varta/Varta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla/Karla.eot');
  src: url('../fonts/Karla/Karla.eot') format('embedded-opentype'),
  url('../fonts/Karla/Karla.woff') format('woff'),
  url('../fonts/Karla/Karla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato.eot');
    src: url('../fonts/Lato/Lato.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato.woff') format('woff'),
    url('../fonts/Lato/Lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


