.information {
  background-color: #F3EEE8;
  padding: 65px 0;

  &-block {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  &-slogan {
    &__title {
      font-family: 'Merriweather';
      font-weight: 400;
      font-size: 55px;
      line-height: 60px;
      letter-spacing: -0.6px;
      max-width: 458px;
      margin-bottom: 30px;
    }

    &__arrow {
      max-width: 140px;
      position: relative;
    }

    &__btn {
      font-family: 'Karla';
      font-weight: 700;
      font-size: 17px;
      line-height: 25px;
      letter-spacing: 0.3px;
      background: transparent;
      color: $eye-catching;
      @include arrow;
    }
  }

  &-aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 29px;
    max-width: 547px;

    @media screen and (max-width: 1200px) {
      gap: 40px;
    }

    &__item {
      max-width: 235px;

      @media screen and (max-width: 1200px) {
        max-width: 300px;
      }
      
      &-subtitle {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.2px;
        color: $eye-catching;
        margin-bottom: 12px;
      }

      &-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}